<!DOCTYPE html>
<html>
  <head>
    <title>MicromobilityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to "Micromobility App", root_path, {:style => "text-decoration: none;" "color: black" }%>
  <a><%= link_to "logout", destroy_user_session_path, method: :delete %></a>
  </nav>
    <%= yield %>
  </body>
</html>
